{% extends "base.html" %} 
{% block start %}

<div class="header">
    <h2>SpendWise</h2>

</div>

<div class="container">

  <div class="transaction-and-balance">
        <div class="transaction">
            <h3>Add new transaction</h3>
            <form id="form" method="POST">
            {% csrf_token %}
            <div class="form-control">
                <!-- <label for="text">Text</label> -->
                <input type="text" required name="text" id="text" placeholder="Enter text..." />
            </div>
            <div class="form-control">
                <!-- <label for="amount"
                >Amount <br />
                (negative - expense, positive - income)</label
                > -->
                <input type="number" required name="amount" id="amount" placeholder="Enter amount..." />
            </div>
            <div class="amount-type">
                <label for="text">Amount Type</label>
                <select name="expense_type" required class="form-control">
                <option value="Positive">Positive</option>
                <option value="Negative">Negative</option>
                </select>
            </div>
            <button class="btn" type="submit">Add transaction</button>
            </form>
        </div>
       
    
       
    
        <div class="balance">
            <h4>Your Balance</h4>
            <h1 id="balance">&#x20B9;{{profile.balance}}</h1>
            <div class="inc-exp-container">
                <div class="income">
                    <h4>Income</h4>
                    <p id="money-plus" class="money plus">+&#x20B9;{{profile.income}}</p>
                </div>
                <div class="expense">
                    <h4>Expense</h4>
                    <p id="money-minus" class="money minus">-&#x20B9;{{profile.expenses}}</p>
                </div>
            </div>
        </div>
        
  </div>
 

    <div class="history">
        <h3>History</h3>
        <ul id="list" class="list">
    
        {% for expense in expenses%}
        {% if expense.expense_type == 'Positive'%}
        <li class="plus">
            {{expense.name}} <span>+&#x20B9;{{expense.amount}}</span>
        </li>
        {% else %}
        <li class="minus">
            {{expense.name}} <span>-&#x20B9;{{expense.amount}}</span>
        </li>
        {% endif %}
        {% endfor %}
    
    
        </ul>
    
        
    </div>

  </div>



{% endblock %}